@import (inline) "../../node_modules/leaflet/dist/leaflet.css";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#map {
  height: 600px;
  width: 800px;
}

.leaflet-container {
  background-color: #005595;
}