@import (inline) "../../node_modules/leaflet/dist/leaflet.css";

@mobile: ~"(max-width: 480px)";
@top-height: 61px;

@sounders-blue: #005595;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ropa Sans";
}

.map-container {
  width: 100%;
  height: calc(~"100% - @{top-height}");
  top: @top-height;
  position: fixed;
}

#map {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  background-color: @sounders-blue;
}

// leaflet popup
.country {
  font-size: 17px;
  color: #005595;
  font-family: "Ropa Sans";
}
.players {
  font-family: "Lato";
}
.sub.players:not(:last-of-type) {
  padding-bottom: 5px;
}

.badge-container {
  .badge {
    display: inline-block;
    cursor: pointer;

    img {
      height: 40px;
    }
  }
}

// legend
.legend {
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;

  img {
    float: left;
    height: 60px;
  }

  .swatch, .label {
    height: 12px;
    width: 50px; 
    float: left;
    text-align: center;
  }

  .swatch {
    &.color-5 {
      background: #e1a8a9;
    }
    &.color-4 {
      background: #e16667;
    }
    &.color-3 {
      background: #e32527;
    }
    &.color-2 {
      background: #ab1b1d;
    }
    &.color-1 {
      background: #831213;
    }
  }
}
