@import (inline) "../../node_modules/leaflet/dist/leaflet.css";
@import "page";

@mobile: ~"(max-width: 480px)";
@top-height: 40px;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ropa Sans";
}

.map-container {
  width: 100%;
  height: calc(~"100% - @{top-height}");
  top: @top-height;
  position: fixed;
}

#map {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  background-color: #005595;
}

// leaflet popup
.country {
  font-size: 17px;
  color: #005595;
  font-family: "Ropa Sans";
}
.players {
  font-family: "Lato";
}
.sub.players:not(:last-of-type) {
  padding-bottom: 5px;
}

// legend
.legend {
  position: absolute;
  background: white;
  bottom: 30px;
  left: 30px;
  border-radius: 2px;
  font-size: 14px;
  padding: 10px 10px 10px 36px;

  .label {
    transform: rotate(270deg);
    position: absolute;
    top: 44%;
    left: -30px;
    text-align: center;
  }

  .inner {
    padding: 5px;

    .swatch {
      height: 12px;
      width: 12px; 
      display: inline-block;
      border-radius: 2px;

      &.color-1 {
        background: #23580a;
      }
      &.color-2 {
        background: #3d7a20;
      }
      &.color-3 {
        background: #5d9741;
      }
      &.color-4 {
        background: #80b069;
      }
      &.color-5 {
        background: #bedbb0;
      }
    }
  }
}
