<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <div id="map"></div>

    <script>
      <%
        var soundersData = {};
        json.MLSCountries_Sounders_Total.forEach(function(c) {
          var country = c.country;
          var players = c.players;
          soundersData[country] = { "players": players };
        });
      %>
      var soundersData = <%= JSON.stringify(soundersData) %>;
    </script>
    <script src="app.js"></script>
    <%= json.project.production ? t.include("partials/_adFoot.html") : "" %>
    <%= json.project.production ? t.include("partials/_workHere.html") : "" %>
  </body>
</html>
